.dpheader {
    text-align: center;
    font-family: 'Monofett';
    font-size: 80px;
    margin: 5px;
    color:#04022f;
  }

body {
  background-color: #FF521B;
}

.dpwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF521B;
  }
  
.dpcontainer {
  margin-top: 17px;
    font-family: 'courier new';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 8px solid #04022f;
    width: 70%;
    height: 80vh;
    border-radius: 28px;
    background-color: #fbebbcda;
  }

  .name-input {
    font-family: 'courier new';
    font-size: 15px;
    width: 23%;
    margin-bottom: 10px;
    border: 3px solid #04022f;
    background-color: #f18c6d8f;
    border-radius: 10px;
    color: #04022f;
  }

  .name-input::placeholder{
    color:rgb(102, 98, 98);
  }
  
  button {
    min-width: 10%;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #04022f;
    background-color: #ff501b;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #50a533e4 ; 
    color: white;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: 'Michroma';
    font-weight: 1000;
    ;
  }

  .player-names {
    font-family: 'Courier New';
    font-weight: 1000;
  }

  .name-container {
    justify-content: center;
  }
  .prompt-container {
    
    justify-content: center;
    
    
  }