.dpheader {
    text-align: center;
    font-family: 'georgia';
  }
  
.dpwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 18, 18);
  }
  
.dpcontainer {
    font-family: 'courier new';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 8px solid rgb(0, 0, 0);
    width: 80%;
    height: 80vh;
    border-radius: 8px;
    background-color: rgb(4, 91, 17)
  }